@page 
@model Cart
@inject Microsoft.AspNetCore.Identity.SignInManager<Entities.Account> SignInManager
   <title>Cart</title>
   <h3>Cart Info</h3>
     <div class="div-main">
            <table class="table table-striped">
             @foreach (var item in Model.cart)
             {
                 <tr>
                    <td>@item.Product.Id</td>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>               
                </tr>         
             }
             <tr>
               <td colspan="4" align="right">Total</td>
               <td>@Model.Total</td>
             </tr>
             </table>     
       <a asp-page ="/Index">Continue Shopping</a>
      <div class="col-3 text-right">
        <div class="button">
        <a asp-page="/ProductPage/Pay" asp-route-id="@SignInManager.UserManager.GetUserId(HttpContext.User)" class="mt-2 btn btn-success form-control" >Pay</a>
        </div>
      </div>
   </div>  
