@page 
@model IndexModel


@inject Microsoft.AspNetCore.Identity.SignInManager<Entities.Account> SignInManager

@{
    ViewData["Title"] = "Home page";
}

<div class="container body-content">
    <div class="div-container">
        <div class="div-left">
            <div class="left-title" >Catgeory
                <div class="left-menu">
                    <ul>
                            @foreach (var item in @Model.Categories){
                            <li>                                   
                                <a asp-route-id="@item">@item</a>
                            </li>
                            }
                            <li>
                                <a asp-route-id="Category">All Category</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        
            <div class="div-main">
                <asp:ContentPlaceholder ID="MainContent" runat="server"></asp:ContentPlaceholder>
                <table class="table table-striped border-collapse">
                    <tr class="table-info">
                        @if(@Model.ifParameterIsSet)
                        {
                            <a>@Model.Category</a>
                        }
                        else{
                            <a>Category</a>
                        }                           
                    </tr>
                        @if(Model.Products.Count() > 0 )
                        {
                            @foreach (var item in Model.Products)
                            {
                                <tr>
                                    <div class="div-container">
                                        <img src="C:/Users/mariu/Desktop/SpotkajmySie/CS-Razor-Authentication/Image/test.jpg" height="80" width="120"></img>
                                    </div> 
                                    <div text-align="left">
                                        @item.Name
                                        @item.Price
                                    </div> 
                                    <a asp-page="/ProductPage/Cart" asp-route-id="@item.Id" class="btn btn-outline-primary mx-1">Add to cart</a>
                                     @* asp-action="AddCart" btn=""  *@
                                </tr>                             
                            }                          
                        }
                </table>  

            </div>
            
    </div>
</div>

@* @if (SignInManager.IsSignedIn(User))
{  *@
    <div class="col-3 text-right">
        <div class="button">
        <a asp-page="/ProductPage/Announce" class="mt-2 btn btn-success form-control" >Sell item</a>
        </div>
    </div>
@* } *@







<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li>
                <a asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>