@page
@model IndexModel


@inject Microsoft.AspNetCore.Identity.SignInManager<Entities.Account> SignInManager

@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://images.pexels.com/photos/1078958/pexels-photo-1078958.jpeg?auto=compress&cs=tinysrgb&w=1200"
                    class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3"><span class="text-primary">Magic</span> Store where you can find
                    everything you need<span class="text-primary">.</span></h1>
                <p class="lead">Quickly buy and sell your favorites clothes from any place you want. With our website
                    it's so simple<span class="text-primary">...</span></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="#categories" class="btn btn-primary btn-lg px-4 me-md-2">Search and Buy</a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-page="/ProductPage/Announce" class="btn btn-outline-secondary btn-lg px-4">Sell</a>
                    }
                    else
                    {
                        <a asp-page="/Account/Login" class="btn btn-outline-secondary btn-lg px-4">Sell</a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="custom-cards">
        <h2 id="categories" class="pb-2 border-bottom">Our categories</h2>
        <p>or scroll below to get all categories without filtering them.</p>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            @foreach (var item in @Model.Categories)
            {
                <a asp-route-id="@item">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                    style="background-image: url('unsplash-photo-1.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">@item</h2>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <img src="https://images.pexels.com/photos/12405196/pexels-photo-12405196.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
                                    alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <svg class="bi me-2" width="1em" height="1em">
                                        <use xlink:href="#geo-fill"></use>
                                    </svg>
                                    <small>Earth</small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <svg class="bi me-2" width="1em" height="1em">
                                        <use xlink:href="#calendar3"></use>
                                    </svg>
                                    <small>3d</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>

    <a asp-route-id="Category" class="btn btn-primary my-4">All Categories</a>

    @foreach (var item in Model.Products)
    {
        <div class="row shadow-lg p-3 mb-5 bg-white rounded">
            <div class="col-md-7 position-relative">
                <span class="text-muted my-4">Name</span>
                <h3 class="m-2">@item.Name</h3>
                <span class="text-muted my-4">Category</span>
                <h3 class="m-2">@item.Category</h3>
                <span class="text-muted my-4">Description</span>
                <h3 class="m-2">@item.Description</h3>
                <span class="text-muted my-4">Price</span>
                <h3 class="m-2" class="text-primary">@item.Price$</h3>
                <a asp-page="/ProductPage/Cart" asp-route-id="@item.Id" class="btn btn-outline-primary position-absolute bottom-0 start-0">Add to cart</a>
            </div>
            <div class="col-md-5">               
                <img src="~/@item.Image" style="object-fit: cover;width:100%;height:100%" alt="">               
            </div>
        </div>
    }
</div>

@* <div class="div-main">
    <asp:ContentPlaceholder ID="MainContent" runat="server"></asp:ContentPlaceholder>
    <table class="table table-striped border-collapse">
        <tr class="table-info">
            @if (@Model.ifParameterIsSet)
            {
                <a>@Model.CategoryHelper</a>
            }
            else
            {
                <a>Category</a>
            }
        </tr>
        @if (Model.Products.Count() > 0)
        {
            @foreach (var item in Model.Products)
            {
                <tr>
                    <div class="div-container">
                        <img src="@item.Image" height="80" width="120"></img>
                    </div>
                    <div text-align="left">
                        @item.Name
                        @item.Price
                        @item.Category <a> :kategoria</a>
                    </div>
                    <a asp-page="/ProductPage/Cart" asp-route-id="@item.Id" class="btn btn-outline-primary mx-1">Add to cart</a>
                </tr>
            }
        }
    </table>

</div> *@
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            @if (@Model.CategoryHelper != null)
            {
                <li>
                    <a asp-route-id="@Model.CategoryHelper" asp-route-currentpage="@i" class="page-link">@i</a>
                </li>
            }
            else
            {
                <li>
                    <a asp-route-currentpage="@i" class="page-link">@i</a>
                </li>
            }
        }
    </ul>
</div>


@* <div class="div-container"> *@
    @* <div class="div-left">
        <div class="left-title" >Categories
        <div class="left-menu">
        <ul>
        @foreach (var item in @Model.Categories){
        <li>
        <a asp-route-id="@item" {asp-route-id=@Model.CategoryHelper } >@item</a>
        </li>
        }
        <li>
        <a asp-route-id="Category">All Category</a>
        </li>
        </ul>
        </div>
        </div>
        </div> *@
    @* <div class="jumbotron" style="margin:10em 0;">
        <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
        jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
        </div>
        <div class="row">
        @foreach (var item in @Model.Categories)
        {
        <div class="col-lg-4">
        <img class="rounded-circle"
        src="https://images.pexels.com/photos/12405196/pexels-photo-12405196.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
        alt="Generic placeholder image" width="140" height="140">
        <h4>@item</h4>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut
        id elit.</p>
        <p><a class="btn btn-primary" href="#" role="button">Show</a></p>
        </div>
        } *@